@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

:root {
	--accent: #368f8b;
	--header-color: #df2935;

	--library-card-size: 11em;
	--library-card-width: fit-content;
	--library-card-height: 6em;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	background: none;
	border: none;
}
a {
	text-decoration: none;
}

body {
	font-size: 50px;
}
.library-container {
	background-color: #fff9fb;
	height: 100vh;
	width: 100vw;

	display: flex;

	font-family: 'Roboto', sans-serif;
	/* font-size: 3em; */
}

.library-header {
	background-color: var(--header-color);
	padding: 20px 30px;
	font-size: 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	font-weight: 100;
	color: white;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.material-icons {
	font-size: inherit;
}

.counter-container {
	display: flex;
	justify-content: space-between;

	font-size: 0.5em;
	background-color: var(--accent);

	padding: 10px 30px;
	border-radius: 10px;

	color: white;
	font-weight: 700;
}

.library-card-container {
	padding: 20px;
	display: flex;
	/* flex-grow: 1; */
	gap: 20px;
	height: fit-content;
}

.library-card {
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 20px;

	max-height: var(--library-card-height);
	min-height: var(--library-card-height);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.library-card-content {
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	font-weight: 700;
	font-size: 0.75em;
}

.library-card-content h3 {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	color: var(--accent);
	font-weight: 700;
	font-size: 0.5em;
}

.library-card-content span {
	font-size: 0.5em;
}

.book-title {
	border-bottom: 1px solid var(--accent);
	padding: 10px 20px;
	text-align: center;
	font-size: 0.5em;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;

	/* backgc */
}

.book-title h4 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 260px;
}

.book-author {
}

#author {
}

#readButton {
	cursor: pointer;
	border-radius: 5px;
	font-weight: 700;
	font-size: 2em;
	color: rgb(110, 219, 110);
}

#deleteButton {
	color: red;
	cursor: pointer;

	font-size: 2em;
}
